* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(74, 147, 255);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: min(100%, 1000px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.container > div {
    position: relative;
    border: 2px solid #fff;
    min-height: 250px;
}

.container > div::after {
    content: '';
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 40%;
    border: 1px solid #fff;
}

.html .btn {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    color: black;
}

.btn {
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: .5rem .7rem;
    border: none;
    background-color: black;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: red;
}


.html .btn:hover {
    background-color: black;
    color: white;
}

.form {
    position: relative;
    display: none;
    padding: .5rem;
    background-color: #fff;
}

.form__heading {
    text-transform: uppercase;
    color:  rgb(74, 147, 255);
    font-size: 1rem;
    margin: .5rem 0;
}

.input input {
    border: none;
    border-bottom: 1px solid rgb(74, 147, 255);
    padding: .3rem;
}

::placeholder {
    color: rgb(74, 147, 255);
    text-transform: capitalize;
}

.close-form {
    position: absolute;
    right: 1rem;
    border: none;
    cursor: pointer;
}